
**/__pycache__

panopticapi
detectron2

#

Mask2Former/train.log
Mask2Former/swin_large_patch4_window12_384_22k.pkl
Mask2Former/train_221222.log
Mask2Former/221219_test/inference/predictions.json
Mask2Former/221219_test/model_final.pth
Mask2Former/datasets/multimodal/annotations/221118/221118_all.json
Mask2Former/datasets/multimodal/annotations/221118/221118_train.json
Mask2Former/datasets/multimodal/annotations/221214/panoptic_train.json
Mask2Former/datasets/multimodal/annotations/panoptic_train.json
Mask2Former/datasets/multimodal/annotations/221114/panoptic_train.json
Mask2Former/datasets/multimodal/annotations/segmentation_data.json
hcrn/log.txt
hcrn/train.log
hcrn/preprocess/pretrained/resnext-101-kinetics.pth
hcrn/data/glove/glove.768d.ko.pkl
hcrn/data/glove/glove.840.300d.pkl
hcrn/data/multimodal/features/multimodal/action/multimodal_action_train_questions.pt
hcrn/data/multimodal/features/multimodal/action/multimodal_action_appearance_feat.h5
hcrn/data/multimodal/features/multimodal/action/multimodal_action_motion_feat.h5
hcrn/data/multimodal/annotation/221214/221214_all.csv
hcrn/data/multimodal/annotation/221219_all.csv
hcrn/results_multimodal/nia2022_multimodal_221219_english/ckpt/model.pt
hcrn/results_multimodal/nia2022_multimodal_221219_korean/ckpt/model.pt
hcrn/results_multimodal/nia2022_multimodal_221221_english/ckpt/model.pt
hcrn/results_multimodal/nia2022_multimodal_221221_english_epoch5/ckpt/model.pt
hcrn/results_multimodal/nia2022_multimodal_221221_korean/ckpt/model.pt
hcrn/results_multimodal/nia2022_multimodal_221214_korean/ckpt/model.pt
hcrn/results_multimodal/nia2022_multimodal_221202/ckpt/model.pt
