
**/__pycache__

panopticapi
detectron2

#

**/**/**.log
Mask2Former/swin_large_patch4_window12_384_22k.pkl
Mask2Former/221219_test/inference/predictions.json
Mask2Former/221219_test/model_final.pth
Mask2Former/datasets/multimodal/*
hcrn/log.txt
hcrn/preprocess/pretrained/resnext-101-kinetics.pth
hcrn/data/glove/*.pkl
hcrn/data/multimodal/*
hcrn/results_*
