**/*.pth
**/*.h5
**/*.jpg
**/*.zip
**/*.pkl
**/*.xml
**/*.svg
**/*.model
**/*.mp4
**/*.pt
**/data

preprocess/pretrained/
data/glove/*
!data/glove/txt2pickle.py


.idea/*
results**/*
**/__pycache__/

